.blog-title {
    text-align: center;
}

.blog-title > img {
    transform: rotate(90deg);
}

.blog-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    margin-bottom: 5vw;
}

.blog-content > * {
    max-width: 420px;
}

@media only screen and (max-width: 768px) {
    .blog-content {
        flex-direction: row;
        justify-content: center;
    }

    .blog-content > * {
        width: 90%;
    }
}