.events-page-title {
  text-align: center;
}

.events-page-title > img {
  transform: rotate(90deg);
}

.events-page-arrow {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
  justify-content: end;
  margin-right: 5vw;
}

.events-page-arrow > div {
  width: 36px;
  height: 36px;
  text-align: center;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}

.arrow {
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 6px;
  margin-top: 11px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-right: 5px;
}

.left {
  margin-left: 5px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.events-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  margin-bottom: 5vw;
}

.events-page-content > * {
  max-width: 420px;
}

@media only screen and (max-width: 768px) {
  .events-page-content {
    flex-direction: row;
    justify-content: center;
  }

  .events-page-content > * {
    width: 90%;
  }
}
